@import "../styles.scss";

.mobile-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;

  .top-icons {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 8px 18px;
  }

  .time-top {
    display: flex;
    box-sizing: border-box;
    margin-right: auto;
    font-size: 15px;
  }

  .img-icon {
    padding: 2px;
  }

  .search-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .input-box {
    width: 302px;
    background-color: #ebe7e7;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .input-search {
    border: none;
    background: transparent;
    height: 36px;
    font-size: 16px;
    width: 86.32%;
    outline: none;
  }
  .input-img {
    width: 13.68px;
    height: 13.68x;
    padding-left: 10px;
  }

  .shape-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .tag-icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    margin-top: 6px;
  }
  .tag-card {
    display: flex;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #ffffff;
    padding: 8px 10px;

    font-size: 14px;
    font-weight: bold;
    gap: 5px;
    width: auto;
  }

  .text-card {
    text-align: center;
  }
}

.container-img-geral {
  margin-top: 10px;

  .container-img {
    display: flex;
    gap: 1px;
    justify-content: space-between;
    margin-top: 1px;
  }

  .post-img {
    height: 119.53px;
    width: 150px;
  }
}

// .bar-icons {
//   display: flex;
//   height: 100px;
//   width: 100%;
//   justify-content: space-around;
//   padding-top: 5px;
//   background-color: #f2f2f2;
// }
